<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nombre</key>
		<string></string>
		<key>foto</key>
		<string></string>
		<key>rangomin</key>
		<integer>0</integer>
		<key>rangomax</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
